@charset 'utf-8';

@import 'normalize';
@import 'pygments';
@import 'highlighting';

/* mixins */
@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

/* variables */
$goldenRatio: 1.618;
$mainFontColor: #222;
$mainBackgroundColor: #fcfcfb;

$codeBackgroundColor: #fefefe;
$gutterBackgroundColor: #eee;
$codeBorder: 1px solid #ddd;

$containerWidth: 90%;
$containerMaxWidth: 720px;
$blogMaxWidth: $containerMaxWidth;

/* font styles */
html {
  font-family: 'Open Sans', sans-serif;
  background-color: $mainBackgroundColor;
  @include font-smoothing;
}

h1, h2, h3, h4, h5 {
  font-family: 'Droid Serif', serif;
  @include font-smoothing;
}

pre {
  @include font-smoothing(initial);
}

/* font colors */
html { color: $mainFontColor; }

/* font sizes and spacing */
html { font-size: 18px; }
@media (max-width: 900px) { 
  html { font-size: 17px; } 
}
@media (max-width: 400px) {
  html { font-size: 16px; }
}

h1 { font-size: 3.00rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.50rem; }
h5 { font-size: 1.25rem; }
p  { font-size: 1.00rem; }

h1 { line-height: 2.5rem * $goldenRatio; }
h2 { line-height: 2.5rem * $goldenRatio; }
h3 { line-height: 2.0rem * $goldenRatio; }
h4 { line-height: 1.5rem * $goldenRatio; }
h5 { line-height: 1.0rem * $goldenRatio; }
p  { line-height: 1.0rem * $goldenRatio; }

h1, h2, h3 { letter-spacing: 1rem / (19 * $goldenRatio); }
h4, h5, p  { letter-spacing: 1rem / (31 * $goldenRatio); }

/* layout */
div.container {
  width: $containerWidth;
  max-width: $containerMaxWidth;
  margin: 0 auto;
}

/* blog */
article {
  width: 100%;
  max-width: $blogMaxWidth;
  margin: 0 auto;
}

/* code highlighting overrides */
.highlight {
  margin: 30px 0;
  overflow-x: scroll;
  background-color: $codeBackgroundColor;
  border: $codeBorder;
  @include rounded(0.25rem);

  table {
    td {
      width: 30%;
      background-color: $codeBackgroundColor;
      overflow-x: scroll;

      // gutter
      &:first-child {
        position: absolute;
        width: 20px;
        padding-right: 10px;
        padding-left: 10px;
        border-right: $codeBorder;
        background-color: $gutterBackgroundColor;

        pre {
          background-color: $gutterBackgroundColor;
        }
      }

      // code
      &:last-child {
        padding-left: 56px;
      }
    }
  }

  pre {
    margin: 0;
    background-color: $codeBackgroundColor;
    border: none;
  }
}
