<% wrap_layout :layout do %>
  <div class="container">
    <article>
      <h1><%= current_page.title %></h1>
      <%= yield %>
    </article>
    <%= partial 'blog/partials/disqus' %>
  </div>
<% end %>
